// Colors

$white: #f8f8f8;
$menu-color: #3d3e40;
$text-color: #555659;

// Turquoise
$turquoise:      #6cd0d9;
$turquoise-dark: #3ea9b3;
// Green
$green:      #5fbf56;
$green-dark: #34a629;
// Blue
$blue:      #218cd9;
$blue-dark: #0070bf;
// Purple
$purple:      #d1b8d9;
$purple-dark: #b186bf;
// Navy
$navy:      #406080;
$navy-dark: #244566;
// Yellow
$yellow:      #ffdb26;
$yellow-dark: #e6bf00;
// Orange
$orange:      #ff8f40;
$orange-dark: #e66d17;
// Red
$red:      #d94e41;
$red-dark: #bf2a1d;
// Silver
$silver:      #d9d9d9;
$silver-dark: #bfbfbf;
// Grey
$grey:      #85898c;
$grey-dark: #6d7073;
// Midori
$midori:      #1bb38d;
$midori-dark: #009973;
