// Basic Elements
body {
  @include clearfix;
  background: $white;
  color: $text-color;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, h6, label {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1 {
  font-family: $typeface-title;
}

h2 {
  font-family: $typeface-title;
}

h3 {
  font-family: $typeface-title;
}

h4 {
  font-family: $typeface-title;
}

h5 {}

h6 {}

p {
  line-height: 1.35;
}

label {
  color: lighten($text-color, 20%);
  font-family: $typeface-title-alt;
  font-size: 0.8125em;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
