// Basic Elements
body {
  @include clearfix;
  background: $white;
  color: #666;
  font-family: $typeface-sans;
  text-shadow: 1px 1px 1px transparent;
}

a {
  @include transition (all 0.2s ease-in-out);
}

p, a, h1, h2, h3, h4, h5, label {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  font-size: 1.125em;
  line-height: 1.35;
}
