// Typefaces

// League Gothic Regular
@include font-face( "LeagueGothic",
  "midori/league-gothic/leaguegothic-regular-webfont", 
  normal, normal, $asset-pipeline: true
);
@include font-face( "LeagueGothic",
  "midori/league-gothic/leaguegothic-regular-webfont", 
  bold, normal, $asset-pipeline: true
);
// League Gothic Regular Condensed
@include font-face( "LeagueGothicCondensed", 
  "midori/league-gothic/leaguegothic-condensed-regular-webfont", 
  normal, normal, $asset-pipeline: true
);
@include font-face( "LeagueGothicCondensed", 
  "midori/league-gothic/leaguegothic-condensed-regular-webfont", 
  bold, normal, $asset-pipeline: true
);

// Open Sans Regular
@include font-face( "OpenSans", 
  "midori/open-sans/OpenSans-Regular-webfont", 
  400, normal, $asset-pipeline: true
);
// Open Sans Regular Italic
@include font-face( "OpenSans", 
  "midori/open-sans/OpenSans-Italic-webfont", 
  400, italic, $asset-pipeline: true
);
// Open Sans Bold
@include font-face( "OpenSans", 
  "midori/open-sans/OpenSans-Bold-webfont", 
  600, normal, $asset-pipeline: true
);
// Open Sans Bold Italic
@include font-face( "OpenSans", 
  "midori/open-sans/OpenSans-BoldItalic-webfont", 
  600, italic, $asset-pipeline: true
);

// Open Sans Condensed Regular
@include font-face( "OpenSansCondensed", 
  "midori/open-sans-condensed/OpenSans-CondLight-webfont", 
  400, normal, $asset-pipeline: true
);
// Open Sans Condensed Bold
@include font-face( "OpenSansCondensed", 
  "midori/open-sans-condensed/OpenSans-CondBold-webfont", 
  600, normal, $asset-pipeline: true
);

$typeface-sans:  "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$typeface-title: LeagueGothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-title-alt: OpenSansCondensed, "Helvetica Neue", Helvetica, Arial, sans-serif;
