<!DOCTYPE html>
<html>
<head>
  <title>Midori</title>
  <%= stylesheet_link_tag    "midori/application", :media => "all" %>
  <%= javascript_include_tag "midori/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
