@mixin button($bg) {
  padding: 0 1.5em;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  color: $white;
  background: $bg;
  font-size: 0.8125em;
  font-weight: bold;
  line-height: 2.75;
  text-shadow: none;
  text-rendering: optimizeLegibility;

  &:hover {
   background: darken($bg, 5%);
  }

  &:active {
   background: darken($bg, 10%);
  }

  &.small {
    font-size: 0.6875em;
  }

  &.large {
    font-size: 1em;
  }
}
