$body-header-dark:  desaturate(lighten($midori-dark, 37), 75);
$body-header-light: desaturate(lighten($midori-dark, 63), 80);

// Body Header
.m-body-header {
  @include clearfix;
  padding: 0.6em $page-gutter 0.2em;
  margin-bottom: 1.5em;
  // border-bottom: 1px solid darken($body-header-light, 10%);
  background: $body-header-light;
  color: $body-header-dark;
  text-align: center;

  .menu-close-btn {
    float: left;
    font-size: 2em;
    line-height: 1.25;
  }

  h1 {
    overflow: hidden;
    margin-right: 0.65em;
    font-family: $typeface-title;
    font-size: 2.25em;
    line-height: 1.2;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
  }

  @include media-ie($breakpoint-beta) {
    text-align: left;

    h1 {
      margin-right: 0;
    }
  }
}

// Body Content
.m-body-content {
  padding: 0 $page-gutter;

  h2 {
    margin-bottom: 0.5em;
    border-bottom: 1px solid lighten($text-color, 40%);
    text-transform: uppercase;
  }

  p {
    width: 100%;
  }
}
